@use "styles/utils" as s;

.icon {
  @include s.centered("self");
  @apply w-8 h-full aspect-square;
  @apply p-1 rounded-full;
  @apply transition-all;

  &:hover {
    @apply bg-gray-300;
  }

  &.clickable {
    @apply cursor-pointer;
  }
  //animation: spin-icon 1s ease-in-out;

  &:active {
    animation: none;

    @keyframes spin-icon {
      0% {
        transform: rotateY(0deg);
      }
      100% {
        transform: rotateY(360deg);
      }
    }
  }
}
