@mixin capitalize-first {
  &::first-letter {
    @apply uppercase;
  }
}

@mixin centered($self: false) {
  @if $self == 'self' {
    @apply self-center;
    @apply justify-self-center;
  } @else {
    @apply flex;
    @apply items-center;
    @apply justify-center;
  }
}

@mixin truncate {
  @apply overflow-hidden;
  @apply whitespace-nowrap;
  @apply text-ellipsis;
}

@mixin scrollable($color: "slate") {
  @apply overflow-auto;

  &::-webkit-scrollbar {
    width: 1rem;

    &-thumb {
      @apply bg-#{$color}-500;
      border-radius: 0.5rem;
      border: 3px solid;
      @apply border-#{$color}-800;
    }
  }
}
