@use 'styles/utils' as s;

$height: 1rem;
$scaling-factor: 0.8;

.container {
  @apply flex flex-grow;
  @apply transition-all;

  .input {
    @apply bg-white text-slate-500;
    @apply border border-gray-500;
    @apply w-full;
    @apply rounded-sm px-4;
    @apply transition-all;
    line-height: normal;
    font-size: 1rem;
    min-height: 2.25rem;
    &:is(:hover, :focus) {
      @apply text-slate-900;
    }
  }

  .label {
    @apply transition-all;
    @apply origin-bottom-left absolute;
    @apply rounded-sm cursor-text;
    font-size: var(--font-size);
    @include s.truncate;
    @include s.capitalize-first;
    @apply text-slate-500;

    &:is(:hover, :focus) {
      @apply text-slate-900;
    }
  }

  .input:placeholder-shown ~ .label {
    max-width: calc(100% - var(--height));

    transform: translate(1rem, 0.5rem);
  }

  .input:not(:placeholder-shown) ~ .label, .input:focus ~ .label {
    @apply text-slate-900 px-2;
    line-height: normal;
    max-width: calc(100% / $scaling-factor - var($height) / 2);

    transform: translate(calc(0.2rem + 1px), -0.5rem) scale($scaling-factor);
    animation: label-animation 0.2s ease-in-out forwards;

    @keyframes label-animation {
      50% {
        opacity: 0;
      }
      to {
        opacity: unset;
        left: 1px;
      }
    }
  }
}
