@use 'styles/utils' as s;

$height: 1rem;
$scaling-factor: 0.8;
$input-y-offset: 1rem;
$label-y-offset: -1.25rem;
$font-size: 2.5rem;

.container {
  @apply flex flex-grow relative;
  @apply transition-all;
  @apply bg-white border-2 border-slate-500;
  @apply rounded-2xl;

  &:focus-within {
    @apply outline-8;
    .icon {
      @apply border-slate-900;
    }
  }

  &:is(:hover, :focus-within) {
    @apply border-slate-900;
  }

  .input {
    @apply bg-transparent text-slate-500;
    @apply w-full;
    @apply outline-0;
    @apply px-4;
    @apply transition-all;
    @include s.truncate;
    line-height: normal;
    font-size: $font-size;
    min-height: $font-size * 2;

    &:is(:hover, :focus) {
      @apply text-slate-900;
    }
  }

  .label {
    @apply transition-all;
    @apply origin-bottom-left absolute;
    @apply rounded cursor-text;
    font-size: calc($font-size * $scaling-factor);
    @include s.truncate;
    @include s.capitalize-first;
    @apply text-slate-500;

    &:is(:hover, :focus) {
      @apply text-slate-900;
    }
  }

  .icon {
    @apply transition-all;
    @apply self-center w-16 h-full ml-4 px-2;
    @apply border-r-2;
  }

  .input:placeholder-shown ~ .label {
    max-width: calc(100% - var(--height));

    transform: translate(6rem, $input-y-offset);
  }

  .input:not(:placeholder-shown) ~ .label, .input:focus ~ .label {
    @apply bg-white text-slate-900;
    @apply px-2;
    line-height: normal;
    max-width: calc(100% / $scaling-factor - var($height) / 2);
    transform: translate(calc($font-size + 1px), $label-y-offset) scale($scaling-factor);
    animation: label-animation 0.2s ease-in-out forwards;

    @keyframes label-animation {
      50% {
        opacity: 0;
      }
      to {
        opacity: unset;
        left: 1px;
      }
    }
  }
}
